/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0;
    padding: 0 5px;
}

/* Header */
.header {
    background-color: #fff;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 119%;
}

/* Navigation */
nav {
    background: #b30000dd;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 17px 0;
}

.nav-menu li {
    margin: 0 20px;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #ffdd57;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f4f4f9;
    color: #0056b3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Section */
.hero img {
    width: 100%;
    height: auto;
}

/* Content Box */
.content-box {
    
    background: #fff;
    margin: 10px 0;
    padding:  40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box h2 {
    color: red;
    margin-bottom: 15px;
}

.new-badge {
    color: red;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
